[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
pelican = "*"
lunr = "*"

[dev-packages]
pytest = "*"
build = "*"

[requires]
python_version = ">=3.6"
